#root {
  display: flex;
  justify-content: center;
  min-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
  
  color: black;
}

.card {
  margin-top: 0px;
  padding: 0em;

}
.card h3{
  margin-top: 0px;
  padding-top: 1px;
}

.indicators{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: #ac000c solid 1px;
}

.target{
  border: #ac000c solid 1px;
}

.score{
  border: #ac000c solid 1px;
}

.countdown{
  color: red;
  border: #ac000c solid 1px;
}

.allOpe{
  border: yellow solid 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  padding-top: 0em;
  min-height: 425px;
}
.allOpe h2{
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
.numsOpe{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: blue solid 1px;
  margin-left: 250px;
  height: 415px;
}

.numButtons{
  display: grid;
  grid-template-columns: repeat(6, auto); 
  gap: 5px; 
  justify-content: center; 
  align-content: center;
}

.numButtons button {
  margin: 2px;
}

.numberButtons{
  color: black;
  background-color: #6ca965;
}

.numberButtons:hover{
  background-color: #568750;
}

.disabled-button{
  color: black;
  background-color: #c8535b;
}

.disabled-button:hover{
  background-color: #a04248;
}

.operators button{
  margin: 2px;
  margin-bottom: 4px;
}
.operator{
  color: black;
  background-color: #8cc5cd;
}

.operator:hover{
  background-color: #709da4;
}

.equal{
  background-color: #bf7bca;
  color: black;
  
}

.equal:hover{
  background-color: #9862a1;
}

.delete{
  background-color: #ac000c;
  color: white;
}

.delete:hover{
  background-color: #890009;
}

.restart{
  background-color: black;
  color: white;
}

.restart:hover{
  background-color: #4c4c4c;
}

.answer{
  margin-top:40px;
}

.submit{
  border: blanchedalmond solid 1px;
  padding: 0.2em;
}

.rightOpe{
  display: flex;
  flex-direction: column;
  border: red solid 1px;
  margin-right: 250px;
  height: 415px;
}

.currentOperation{
  color: black;
  background-color: #dda980;
  margin: 2em;
  padding: 0px;
  border: #dda980 solid 1px;
  border-radius: 10%;
  height: 3em;
  width: 8em;
  align-self: center;
}

.operations{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: black;
  background-color: #b28a82;
  border: black solid 1px;
  border-radius: 5%;
  min-height: 233px;
  height: 298px;
  width: 140px;
  font-weight: bold;
  padding: 0px;
  font-size: 16px;

}

.operations h3{
  align-self: center;
  margin-top: 0px;
  padding-top: 0px;
}

.operation{
  margin-top: 0px;
  margin-bottom: 5px;
  line-height: 0px;
  padding: 0px;
  font-size: 18px;
  line-height: 20px;
}

.endOpe{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1em;
}


